/* ---------------------Css Links----------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* --------------------------------------------------------------------------------------------- */

/*-------------- Css Reset -------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--page-bg);
    height: 100dvh;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------- */

/*------------------------ Colors and Typography --------------------------------------------------*/
:root {
    --font-primary: 'Syne', 'Poppins', sans-serif;
    --font-secondary: 'Plus Jakarta Sans', 'Poppins', sans-serif;
    --naz-font: 'Alfa Slab One', 'Poppins', sans-serif;
    --heading-text-size: clamp(1.5rem, 2.5vw, 2.22rem);
    --display-title-text: clamp(2.25rem, 3.52vw, 3.625rem);
    --primary-color: #00ff41;
    --hover-color: #00d435;
    --pressed-border-color: #00a828;
    --glow-overlay: #00ff4133;
    --page-bg: #0a1a0d;
    --dark-color: #0c0c0c;
    --cards-bg: #141a15;
    --divider-section-color: #1e2b1f;
    --disabled-color: #3a4d3b;
    --secondary-text-color: #8fa88f;
    --body-text-color: #d4e4d4;
    --heading-text-color: #f0fff1;
    --projects-card-bg: linear-gradient(
        rgba(0, 255, 65, 0.10),
        rgba(0, 255, 65, 0.40),
        rgba(0, 255, 65, 0.70)
    );
    --padding-sides: clamp(16px, calc(6.667vw - 5.33px), 120px);;

}
/* --------------------------------------------------------------------------------- */

/* ---------- Header section ---------- */
header {
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--disabled-color);
    padding-left: var(--padding-sides);
    padding-right: var(--padding-sides);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header h4 {
    font-family: var(--naz-font);
    font-size: 1.5rem;
    color: var(--heading-text-color);
    font-weight: 400;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

header h4:hover {
    color: var(--primary-color);
    cursor: pointer;
    text-shadow: 0 4px 8px rgba(12, 12, 12, 0.25);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(20px, 4vw, 40px);
}

nav ul li a {
    text-decoration: none;
    color: var(--heading-text-color);
    font-size: 1.25rem;
    font-family: var(--font-secondary);
    position: relative;
}

nav ul li:not(:last-child) a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1.5px;
    background-color: var(--primary-color);
    transition: width 0.3s ease, color .3s ease;
}

nav ul li:not(:last-child) a:hover {
    color: var(--primary-color);
}

 nav ul li:not(:last-child) a:hover::after {
    width: 100%;
}

nav ul li:last-child  a {
    /* display: inline-block; */
    padding: 0.667em 1.334em;
    font-size: .75rem;
    background: var(--primary-color);
    color: var(--dark-color);
    font-weight: 600;
    border-radius: 8px;
    position: relative;  
    overflow: hidden;     
    transition: background-color 0.2s ease, box-shadow .2s ease;
}

nav ul li:last-child a:hover {
    background: color-mix(in srgb, var(--primary-color), var(--dark-color) 8%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.16);
}

nav ul li:last-child a:focus {
    background: color-mix(in srgb, var(--primary-color), var(--dark-color) 12%);
}

nav ul li:last-child a:active {
    background: color-mix(in srgb, var(--primary-color), var(--dark-color) 12%);
}



/* ------------------------------- */

.hero {
    width: 100%;
    height: 100dvh;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.50rem;
    align-items: center;
    padding-left: var(--padding-sides);
    padding-right: var(--padding-sides);
}

.hero .left-section {
    /* width: 380px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
}

.left-section-text .name {
    font-size: 28px;
    font-family: var(--font-primary);
    color: var(--heading-text-color);
}

.left-section-text .aspiring {
    font-size: 24px;
    font-family: var(--font-primary);
    color: var(--heading-text-color);
}

.left-section-text .aspiring span {
    color: var(--primary-color);
}



.left-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.left-section-content p {
    font-size: clamp(0.875rem, 3.75vw, 1rem);;
    font-family: var(--font-secondary);
    color: var(--body-text-color);
}

.left-section-content .buttons {
    display: flex;
    align-items: center;
    gap: 0.875rem;
    
}

.left-section-content .buttons .view-projects {
    display: inline-flex;
    padding: 0.75em 1.5em;
    background: var(--primary-color);
    color: var(--dark-color);
    font-size:  clamp(0.75rem, 2.8vw, 1rem);;
    font-family: var(--font-secondary);
    font-weight: 600;
    align-items: center;
    border-radius: 50px;
    transition: background .2 ease, box-shadow 0.2s ease;
}

.left-section-content .buttons .view-projects:hover {
    background: color-mix(in srgb, var(--primary-color), var(--dark-color) 8%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.16);
    cursor: pointer;
}

.left-section-content .buttons .chevron-1 {
    color: #22C55E;
    font-size: 1.75rem;
    display: none;
}

.left-section-content .buttons .chevron-2 {
    color: #16A34A;
    font-size: 1.75rem;
    display: none;
}

.left-section-content .buttons .chevron-3 {
    color: #15803D;
    font-size: 1.75rem;
    display: none;
}

.left-section-content .buttons .chevron-4 {
    color: #166534;
    font-size: 1.75rem;
    display: none;
}





.hero .right-section {
    display: flex;
    align-items: center;
    position: relative;
}

.hero .right-section .img-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--pressed-border-color);
    width: clamp(200px, 50vw, 300px);
    height: clamp(200px, 50vw, 300px);
    border-radius: 8px;
    animation: borderGlow 2s ease-in-out infinite;
}

@keyframes borderGlow {
    0%, 100% {
        border-color: rgb(0 168 40 / 30%);
        box-shadow: 0 0 6px rgb(0 168 40 / 10%);
    }

    50% {
        border-color: rgb(0 168 40 / 80%);
        box-shadow: 0 0 10px rgb(0 168 40 / 40%);
    }
}

.img-border .grid-bg {
    width: clamp(185px, 46vw, 280px);
    height: clamp(185px, 46vw, 280px); 
    border-radius: 8px; 
    position: relative;
    overflow: hidden;
    background:radial-gradient(
    circle,
    rgba(0, 255, 65, 0.50) 0%,
    rgba(0, 153, 39, 0.30) 100%
    ), url("/img/grid-Bg.jpg") center / cover no-repeat;
}

.img-border .grid-bg img {
    object-fit: contain;
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
}

.img-border .grid-bg .available-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.375em 0.625em;
    border-radius: 50px;
    background: rgba(10, 26, 13, 80%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.grid-bg .available-tag p {
    color: var(--primary-color);
    font-family: var(--font-secondary);
    font-size: clamp(0.75rem, 2.8vw, 1rem);
    letter-spacing: 0.0625em;
    white-space: nowrap;
}

.stats-card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .20rem;
    position: absolute;
    /* height: 80px;
    width: 100px; */
    bottom: clamp(55px, 13vw, 90px);
    left: -3px;
    padding: 8px 6px;
    text-wrap: wrap;
    background: var(--glow-overlay);
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    animation: float1 3s ease-in-out infinite;
}

@keyframes float1 {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.stats-card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .20rem;
    position: absolute;
    top: 30px;
    right: -10px;
    padding: 0.5em 0.375em;
    background: var(--glow-overlay);
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    animation: float2 3s ease-in-out infinite;
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.stats-card1 p, .stats-card2 p {
    text-align: center;
    max-width: 8ch;
    font-family: var(--font-secondary);
    font-size: clamp(0.625rem, 2.8vw, 1rem);
    color: var(--heading-text-color);
    font-weight: 600;
}

.stats-card1 span, .stats-card2 span {
    font-family: var(--font-secondary);
    font-size: clamp(0.5rem, 2.4vw, 0.875rem);
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}




/* ---------Nav Buttom---------- */
.nav-buttom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background: var(--disabled-color);

    .nav-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.1875em;
    }

    i, p {
        color: var(--heading-text-color);
        font-size: clamp(1.25rem, 4.4vw, 1.5rem);
        transition: color .3s ease;
    }

    p {
        font-size: 14px;
        font-family: var(--font-secondary);
    }

    .nav-icon:hover :is(i, p) {
        color: var(--hover-color);
    }

    .nav-icon-contact {
        padding: 8px;
        background: var(--primary-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.2s ease, transform 0.2s ease;
    }

    .nav-icon-contact:hover {
        background: var(--hover-color);
    }
}





/* ------------ Media Query ------------------ */


@media (max-width: 799px) {
    header {
        background: none;
    }

    header nav {
        display: none;
    }
}